body {
    background-image: url('/Users/ioanbrehuescu/WIFIWien/ort-suche/ort-suche/public/ortsuche.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #faf4f4;
    background-color: transparent;
    /* Remove the height property */
}

/* Add a minimum height to ensure background coverage */
body,
html {
    min-height: 100%;
}

h2 {
    font-size: 35px;
}

label,
input {
    color: #fbfbfb;
    font-size: 22px;
}

.search-container {
    margin: 20px;
    padding: 10px;

}

input[type="text"] {
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: #fffafa;
    font-size: 25px;



}

input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #f4eeee !important;

}

#progressBarContainer {
    width: 100%;
    background-color: #f4eeee;
    display: none;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
    transition: width 0.5s;
}

.card {
    --bs-card-bg: initial;
}

.form-control {
    background-color: transparent;
    border: 1px solid #ffffff;
}

.ort-vorschlag {
    cursor: pointer;
    border: 1px solid #ffffff;
    display: block;
    margin: 10px 0;
    padding: 5px;
    color: #0d0d0d;
    font-size: 25px;
}

.ort-vorschlag:hover {
    background-color:#342f2f;
    transition: 0.6s;
    color: #cac6b9;
}